
<div class="row">

    <div class="col-6">
            <div class="card">
                <div class="card-body">
                    
                    
            <app-donut [datos]="datosGrafica1" [titulo]="'primera grafica'" [labels]="labelsGrafica1"></app-donut>

                </div>
            </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                
                <app-donut [datos]="datosGrafica2" [titulo]="'segunda grafica'" [labels]="labelsGrafica2"></app-donut>

            </div>
        </div>
</div>

<div class="col-6">
    <div class="card">
        <div class="card-body">
            
            
            <app-donut [datos]="datosGrafica3" [titulo]="'tercera grafica'" [labels]="labelsGrafica3"></app-donut>

        </div>
    </div>
</div>

<div class="col-6">
<div class="card">
    <div class="card-body">
        
        
        <app-donut [datos]="datosGrafica4" [titulo]="'cuarta grafica'" [labels]="labelsGrafica4"></app-donut>

    </div>
</div>
</div>


</div>
    

   

